.Navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    height: var(--navbar-height);
    width: 100%;
    background: var(--inverted-bg-color);
}

.links {
    margin-left: auto;
}

.about {
    margin-right: 20px;
}